body {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lavender;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 137, 198);
  margin-bottom: 40px;
  position: relative;
  height: 8em;
}

h1 {
  font-size: 4em;
  font-family: 'Tilt Prism', cursive;
  color: white;
}

.content-container {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Cute Font', cursive;
}

.image-display {
  height: 120px;
  font-size: 120px;
  margin-bottom: 30px;

}

.gesture-button {
  all: unset;
  background-color: lavender;
  border: 2px dashed rgb(193, 137, 198);
  font-size: 3em;
  margin: 30px 0 30px 0;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
  padding-top: 3px
}

.gesture-button:hover {
  border-color: blueviolet;
  background-color: rgb(193, 137, 198);
  transform: translateY(-10px);

}

.result,
.score {
  font-size: 40px;
}

.result {
  height: 56.6px
}

.restart-button {
  background-color: lavender;
  border: 2px solid rgb(193, 137, 198);
  cursor: pointer;
  font-size: 1em;
  margin-top: 15px;
  border-radius: 10px;
  width: 100px;
  font-family: 'Fjalla One', sans-serif;
}

.restart-button:hover {
  background-color: rgb(193, 137, 198);
  color: white;
}

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: rgb(193, 137, 198);
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Arsenal', sans-serif;
  font-size: 14px;
}

img {
  margin-top: 3px;
  height: 20px;
}
